<h4>
    <a href="/detalle/<%= item.id %>">
        <%= item.nombre %>
    </a>
</h4>
<p class="ps-text-grey">
    <%= item.descripcion ? item.descripcion : 'Plato Tipico' %> U$S <%= item.precio %>
            <br>
            <!-- <%= item.descripcion || 'Plato Tipico' %> U$S <%= item.precio %> -->
</p>
<br />